<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./style/nav.css" />

    <link rel="icon" href="./assets/favicon.ico" />
    <title>Accueil | Eglise Pain de Vie</title>
    <style>
      .main {
        padding: 16vh 6% 0 6%;
      }

      .Service {
        margin-top: 4%;
      }
      .Service p {
        text-align: center;
        font-style: italic;
        font-size: 27px;
      }

      .imageCenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      .text-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(232, 145, 123, 0.397);
        color: white;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .text-overlay .btn {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: "Montserrat";
        background-color: white;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <template>
        <div>
          <div class="navBar">
            <header :class="{ 'scrolled-nav': scrolledNav }">
              <nav>
                <div class="branding">
                  <a href="">
                    <v-btn color="transparent" text class="logo">
                      <img src="./assets/logoepinaynoir.png" alt="" />
                    </v-btn>
                  </a>
                  <i class="fa fa-square-o fa-stack-2x"></i>
                </div>
                <ul
                  v-show="!mobile"
                  class="navigation"
                  v-for="(item, index) in items"
                  :key="index"
                >
                  <a
                    class="link"
                    id="nav-link"
                    :href="goToAnotherPage(item.btn)"
                    >{{ item.title }}</a
                  >
                </ul>

                <div class="icon" v-show="mobile">
                  <v-app-bar-nav-icon
                    color="#E8917B"
                    @click="drawer = true"
                  ></v-app-bar-nav-icon>
                </div>
                <v-navigation-drawer
                  v-model="drawer"
                  absolute
                  temporary
                  height="330"
                  style="top: 100%"
                >
                  <v-list nav dense>
                    <v-list-item-group>
                      <v-list-item v-for="(item, index) in items" :key="index">
                      <a
                        class="link"
                        id="nav-link"
                        :href="goToAnotherPage(item.btn)"
                        >{{ item.title }}</a
                      >
                    </v-list-item-group>
                  </v-list>
                </v-navigation-drawer>
              </nav>
            </header>
          </div>

          <div class="main">
            <div>
              <v-row>
                <v-col cols="12" md="6" style="margin: auto">
                  <p style="text-align: center; font-size: 35px; padding: auto">
                    A la une
                  </p>
                </v-col>
                <v-col cols="12" md="6">
                  <v-carousel
                    cycle
                    height="400"
                    hide-delimiter-background
                    :show-arrows="false"
                  >
                    <v-carousel-item v-for="(slide, i) in slides" :key="i">
                      <v-sheet :color="colors[i]" height="100%">
                        <v-row
                          class="fill-height"
                          align="center"
                          justify="center"
                        >
                          <div class="text-h2">{{ slide }} Slide</div>
                        </v-row>
                      </v-sheet>
                    </v-carousel-item>
                  </v-carousel>
                </v-col>
              </v-row>
            </div>

            <div class="Service">
              <v-row>
                <v-col>
                  <p>
                    Service tous les dimanches <br />en présentiel ou en
                    ligne<br />à 10h
                  </p>
                </v-col>
              </v-row>
              <v-row>
                <v-layout style="justify-content: center">
                  <a
                    href="https://www.youtube.com/@eglisepaindevie3673/featured"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <v-btn style="background-color: #e8917b">
                      Culte en ligne
                      <v-icon right> mdi-forward </v-icon>
                    </v-btn>
                  </a>
                </v-layout>
              </v-row>
            </div>

            <div class="Service">
              <v-row>
                <v-col align-self="center" v-for="(card, i) in cards" :key="i">
                  <v-img
                    class="imageCenter"
                    :src="getImageUrl(card.link)"
                    height="350px"
                    width="350px"
                  >
                    <div class="text-overlay">
                      <a
                        class="link"
                        id="nav-link"
                        :href="goToAnotherPage(card.btn)"
                        >
                        <v-btn
                          class="btn"
                          plain
                        >
                          {{ card.title }}
                        </v-btn>
                    </a>
                    </div>
                  </v-img>
                </v-col>
              </v-row>
            </div>
          </div>

          <div>
            <v-card>
              <div
                v-bind="localAttrs"
                :padless="padless"
                style="margin-top: 2%"
              >
                <v-card
                  flat
                  tile
                  width="100%"
                  class="footer"
                  style="background-color: #ededed; text-align: center"
                >
                  <v-card-text>
                    <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
                      <v-icon color="#E8917B" size="37px"> {{ icon }} </v-icon>
                    </v-btn>
                  </v-card-text>

                  <v-divider style="color: #e8917b"></v-divider>

                  <v-card-text style="color: #e8917b; font-size: 17px">
                    &copy;{{ new Date().getFullYear() }} —
                    <strong>Pain de Vie</strong>
                  </v-card-text>
                </v-card>
              </div>
            </v-card>
          </div>
        </div>
      </template>
    </div>
    <!-- built files will be auto injected -->
  </body>

  <!--================ script ===================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script src="https://www.w3schools.com/lib/w3data.js"></script>

  <script type="text/javascript">
    w3IncludeHTML();
  </script>

  <script>
    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      data: () => ({
        scrolledNav: null,
        mobile: false,
        mobileNav: null,
        windowWidth: null,
        drawer: false,
        tab: null,
        items: [
          { title: "Home", btn: "/" },
          { title: "Première visite", btn: "./page/visite" },
          { title: "Communauté", btn: "./page/community" },
          { title: "Activités", btn: "./page/activity" },
          { title: "Ressources", btn: "./page/ressource" },
          { title: "Contact", btn: "./page/contact" },
          { title: "Nous soutenir", btn: "./page/sustain" },
        ],

        colors: ["#C5CAE9", "#E53935", "#5E35B1", "#80D8FF", "#388E3C"],
        slides: ["First", "Second", "Third", "Fourth", "Fifth"],
        cards: [
          { title: "Contact", link: "contact.jpg", btn: "./page/contact" },
          { title: "Ressource", link: "ressource.jpg", btn: "./page/ressource" },
          { title: "Communaute", link: "communaute.png", btn: "./page/community" },
          { title: "Donate", link: "donation.png", btn: "./page/sustain" },
        ],

        icons: ["mdi-email", "mdi-youtube", "mdi-instagram"],
        padless: false,
        variant: "default",
      }),

      computed: {
        localAttrs() {
          const attrs = {};

          if (this.variant === "default") {
            attrs.absolute = false;
            attrs.fixed = false;
          } else {
            attrs[this.variant] = true;
          }
          return attrs;
        },
      },

      created() {
        window.addEventListener("resize", this.checkScreen);
        this.checkScreen();
      },

      mounted() {
        window.addEventListener("scroll", this.updateScroll);
      },

      methods: {
        toggleMobileNav() {
          this.mobileNav = !this.mobileNav;
        },

        updateScroll() {
          const scrollPosition = window.scrollY;
          if (scrollPosition > 50) {
            this.scrolledNav = true;
            return;
          }
          this.scrolledNav = false;
        },

        checkScreen() {
          this.windowWidth = window.innerWidth;
          if (this.windowWidth <= 1257) {
            this.mobile = true;
            return;
          }
          this.mobile = false;
          this.mobileNav = false;
          return;
        },

        goToAnotherPage(param) {
          return `${param}`;
        },

        getImageUrl(imageId) {
          return `./assets/${imageId}`;
        },
      },
    });
  </script>
</html>
