<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./../style/nav.css" />

    <link rel="icon" href="./../assets/favicon.ico" />
    <title>Activités | Eglise Pain de Vie</title>
    <style>
      .main {
        padding: 16vh 6% 0 6%;
      }

      .top {
        margin-top: 3%;
      }

      h1 {
        color: #e8917b;
        font-style: italic;
      }

      .text {
        text-align: justify;
        white-space: pre-line;
        margin-top: 2%;
        line-height: 33px;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <template>
        <div>
          <div class="navBar">
            <header :class="{ 'scrolled-nav': scrolledNav }">
              <nav>
                <div class="branding">
                  <a href="./../">
                    <v-btn color="transparent" text class="logo">
                      <img src="../assets/logoepinaynoir.png" alt="" />
                    </v-btn>
                  </a>
                  <i class="fa fa-square-o fa-stack-2x"></i>
                </div>
                <ul
                  v-show="!mobile"
                  class="navigation"
                  v-for="(item, index) in items"
                  :key="index"
                >
                  <a
                    class="link"
                    id="nav-link"
                    :href="goToAnotherPage(item.btn)"
                    >{{ item.title }}</a
                  >
                </ul>

                <div class="icon" v-show="mobile">
                  <v-app-bar-nav-icon
                    color="#E8917B"
                    @click="drawer = true"
                  ></v-app-bar-nav-icon>
                </div>
                <v-navigation-drawer
                  v-model="drawer"
                  absolute
                  temporary
                  height="330"
                  style="top: 100%"
                >
                  <v-list nav dense>
                    <v-list-item-group>
                      <v-list-item v-for="(item, index) in items" :key="index">
                        <a
                          class="link"
                          id="nav-link"
                          :href="goToAnotherPage(item.btn)"
                          >{{ item.title }}</a
                        >
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-navigation-drawer>
              </nav>
            </header>
          </div>

          <v-app class="main">
            <v-timeline
              align-top
              :dense="$vuetify.breakpoint.smAndDown"
              :reverse="!reverse"
            >
              <v-timeline-item
                v-for="(item, i) in Items"
                :key="i"
                :color="item.color"
                fill-dot
              >
                <v-card :color="item.color" dark>
                  <v-card-title class="text-h6">
                    {{ item.title }}
                  </v-card-title>
                  <v-card-text class="white text--primary">
                    <p class="text">{{ item.text }}</p>
                    <!--v-btn
                                    :color="item.color"
                                    class="mx-0"
                                    outlined
                                    >
                                    Button
                                    </!--v-btn-->
                  </v-card-text>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-app>

          <div>
            <v-card>
              <div
                v-bind="localAttrs"
                :padless="padless"
                style="margin-top: 2%"
              >
                <v-card
                  flat
                  tile
                  width="100%"
                  class="footer"
                  style="background-color: #ededed; text-align: center"
                >
                  <v-card-text>
                    <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
                      <v-icon color="#E8917B" size="37px"> {{ icon }} </v-icon>
                    </v-btn>
                  </v-card-text>

                  <v-divider style="color: #e8917b"></v-divider>

                  <v-card-text style="color: #e8917b; font-size: 17px">
                    &copy;{{ new Date().getFullYear() }} —
                    <strong>Pain de Vie</strong>
                  </v-card-text>
                </v-card>
              </div>
            </v-card>
          </div>
        </div>
      </template>
    </div>
    <!-- built files will be auto injected -->
  </body>

  <!--================ script ===================-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script src="https://www.w3schools.com/lib/w3data.js"></script>

  <script type="text/javascript">
    w3IncludeHTML();
  </script>

  <script>
    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      data: () => ({
        scrolledNav: null,
        mobile: false,
        mobileNav: null,
        windowWidth: null,
        drawer: false,
        tab: null,
        items: [
          { title: "Home", btn: "./../" },
          { title: "Première visite", btn: "visite" },
          { title: "Communauté", btn: "community" },
          { title: "Activités", btn: "activity" },
          { title: "Ressources", btn: "ressource" },
          { title: "Contact", btn: "contact" },
          { title: "Nous soutenir", btn: "sustain" },
        ],

        Items: [
          {
            color: "red lighten-2",
            title: "Culte",
            text:
              "Nous vous accueillons chaque dimanche à 10h, pour un moment de culte centré sur la Bible car nous croyons que c’est elle qui nous façonne et nous guide." +
              " Nous exprimons notre amour et notre reconnaissance à Dieu par des chants. La mort et la résurrection sont le fondement de notre foi c’est pourquoi nous " +
              "partageons le pain et le vin pour nous rappeler du corps brisé et du sang versé à la croix.",
          },
          {
            color: "purple darken-1",
            title: "Réunion de prière",
            text:
              "« Ne vous inquiétez de rien ; mais en toute chose faites connaître vos besoins à Dieu par des prières et des supplications, avec actions de grâces » Philippiens 4:6\n" +
              "Un vendredi sur deux, nos portes sont ouvertes à partir de 20h pour un temps de prière pour nous soutenir mutuellement et exposer les besoins de notre église et de notre ville à Dieu.",
          },
          {
            color: "green lighten-1",
            title: "Pdv formation",
            text:
              "Veux-tu découvrir la foi chrétienne ?\n" +
              "Veux-tu en savoir davantage sur Dieu ?\n" +
              "Veux-tu t’engager avec Dieu ?\n" +
              "Rejoins nous un dimanche après-midi sur deux pour découvrir les fondements de la foi chrétienne.",
          },
        ],
        reverse: false,
        icons: ["mdi-email", "mdi-youtube", "mdi-instagram"],
        padless: false,
      }),

      computed: {
        localAttrs() {
          const attrs = {};

          if (this.variant === "default") {
            attrs.absolute = false;
            attrs.fixed = false;
          } else {
            attrs[this.variant] = true;
          }
          return attrs;
        },
      },

      created() {
        window.addEventListener("resize", this.checkScreen);
        this.checkScreen();
      },

      mounted() {
        window.addEventListener("scroll", this.updateScroll);
      },

      methods: {
        toggleMobileNav() {
          this.mobileNav = !this.mobileNav;
        },

        updateScroll() {
          const scrollPosition = window.scrollY;
          if (scrollPosition > 50) {
            this.scrolledNav = true;
            return;
          }
          this.scrolledNav = false;
        },

        checkScreen() {
          this.windowWidth = window.innerWidth;
          if (this.windowWidth <= 1257) {
            this.mobile = true;
            return;
          }
          this.mobile = false;
          this.mobileNav = false;
          return;
        },

        goToAnotherPage(param) {
          return `${param}`;
        },
      },
    });
  </script>
</html>
