<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./../style/nav.css" />

    <link rel="icon" href="./../assets/favicon.ico" />
    <title>Contact | Eglise Pain de Vie</title>
    <style>
      .top {
        /*margin: 16vh 6% 0 12%;*/
        margin-top: 12%;
        text-align: left;
      }
      .top h1 {
        color: #e8917b;
        font-style: italic;
        font-size: 45px;
      }
      .main2 {
        margin: 7vh 6% 0 6%;
      }
      .text {
        text-align: justify;
        white-space: pre-line;
        margin-top: 2%;
        line-height: 33px;
        font-size: 18px;
        text-align: center;
      }

      .imageCenter {
        margin: 0;
        min-height: 30vh;
        height: 30vh !important;
        background-size: cover;
      }

      .map .map-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 aspect ratio */
        margin-bottom: 16px;
      }

      .map .map-iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }

      @media screen and (max-width: 959px) {
        .map-iframe {
          width: 100vw;
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <template>
        <div>
          <div class="navBar">
            <header :class="{ 'scrolled-nav': scrolledNav }">
              <nav>
                <div class="branding">
                  <a href="./../">
                    <v-btn color="transparent" text class="logo">
                      <img src="../assets/logoepinaynoir.png" alt="" />
                    </v-btn>
                  </a>
                  <i class="fa fa-square-o fa-stack-2x"></i>
                </div>
                <ul
                  v-show="!mobile"
                  class="navigation"
                  style="justify-content: space-evenly;"
                >
                  <a v-for="(item, index) in items"
                    :key="index"
                    class="link"
                    id="nav-link"
                    :href="goToAnotherPage(item.btn)"
                    style="color: #E8917B"
                    >{{ item.title }}</a
                  >
                  <a class="link"
                    id="nav-link" 
                    href="sustain"
                    style="color: #C51162;"
                  >
                    Nous soutenir</a>
                </ul>

                <div class="icon" v-show="mobile">
                  <v-app-bar-nav-icon
                    color="#E8917B"
                    @click="drawer = true"
                  ></v-app-bar-nav-icon>
                </div>
                <v-navigation-drawer
                  v-model="drawer"
                  absolute
                  temporary
                  height="330"
                  style="top: 100%"
                >
                  <v-list nav dense>
                    <v-list-item-group>
                      <v-list-item v-for="(item, index) in items" :key="index">
                        <a
                          class="link"
                          id="nav-link"
                          :href="goToAnotherPage(item.btn)"
                          style="color: #E8917B"
                          >{{ item.title }}</a
                        >
                      </v-list-item>
                      <v-list-item>
                        <a class="link" style="color: #C51162;"
                          href="sustain">Nous soutenir
                        </a>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-navigation-drawer>
              </nav>
            </header>
          </div>

          <div class="backgroupd">
            <v-img
              class="imageCenter"
              src="./../assets/contact.jpg"
              width="100%"
            >
              <div class="top">
                <!--h1>Contact</h1-->
              </div>
            </v-img>
          </div>

          <div class="main2">
            <v-row align="center">
              <v-col cols="12" md="6">
                <v-form ref="form" v-model="valid" :lazy-validation="lazy">
                  <v-text-field
                    v-model="name"
                    :rules="nameRules"
                    label="Nom*"
                    required
                    outlined
                    rows="1"
                    row-height="15"
                  ></v-text-field>

                  <v-text-field
                    v-model="firstname"
                    :rules="nameRules"
                    label="Prénom*"
                    required
                    outlined
                    rows="1"
                    row-height="15"
                  ></v-text-field>

                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail*"
                    required
                    outlined
                    rows="1"
                    row-height="15"
                  ></v-text-field>

                  <v-textarea
                    v-model="firstname"
                    :rules="nameRules"
                    label="Sujet*"
                    required
                    outlined
                    rows="15"
                    row-height="15"
                  ></v-textarea>

                  <!--v-textarea
                            v-model="num"
                            :rules="[v => !!v || 'Numéro est obligatoire',]"
                            label="Numéro"
                            required
                          ></!--v-textarea-->

                  <v-btn
                    :disabled="!valid"
                    class="mr-4"
                    @click="validate"
                    style="background-color: #2fa743; color: white"
                  >
                    Envoyer
                  </v-btn>

                  <!--v-btn
                            color="error"
                            class="mr-4"
                            @click="reset"
                          >
                            Reset Form
                          </!--v-btn>
                    
                          <v-btn--
                            color="warning"
                            @click="resetValidation"
                          >
                            Reset Validation
                          </v-btn-->
                </v-form>
              </v-col>
              <v-col
                cols="12"
                md="6"
                style="text-align: center; margin-top: 3%"
              >
                <h1 style="color: #e8917b; font-style: italic">
                  Culte du dimanche
                </h1>
                <div class="text">
                  <p>
                    134 Av. de la République<br />93800 Epinay-sur Seine<br />France
                  </p>
                  <p>Tous les dimanches à 10h</p>
                </div>
                <div class="map-container" style="margin-top: 5%">
                  <a
                    href="https://www.google.com/maps/dir//134+Av.+de+la+R%C3%A9publique+93800+%C3%89pinay-sur-Seine+France/@48.9492973,2.3310887,16z/data=!4m6!4m5!1m0!1m2!1m1!1s0x47e66927a26fa15d:0x3b512112797d6205!3e0"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <iframe
                      class="map-iframe"
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2620.219967106232!2d2.3285137771184368!3d48.9492972713447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66927a26fa15d%3A0x3b512112797d6205!2s134%20Av.%20de%20la%20R%C3%A9publique%2C%2093800%20%C3%89pinay-sur-Seine%2C%20France!5e0!3m2!1sfr!2sbe!4v1682965962174!5m2!1sfr!2sbe"
                      style="border: 0; width: 100%; height: 345px"
                      allowfullscreen=""
                      loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"
                    >
                    </iframe>
                  </a>
                </div>
              </v-col>
            </v-row>
          </div>

          <div>
            <v-card>
              <div
                v-bind="localAttrs"
                :padless="padless"
                style="margin-top: 2%"
              >
                <v-card
                  flat
                  tile
                  width="100%"
                  class="footer"
                  style="background-color: #ededed; text-align: center"
                >
                  <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
                    <a :href="goToAnotherPage(icon.link)">
                      <v-icon color="#E8917B" size="37px"> {{ icon.icon }}</v-icon>
                    </a>
                  </v-btn>

                  <v-divider style="color: #e8917b"></v-divider>

                  <v-card-text style="color: #e8917b; font-size: 17px">
                    &copy;{{ new Date().getFullYear() }} —
                    <strong>Pain de Vie</strong>
                  </v-card-text>
                </v-card>
              </div>
            </v-card>
          </div>
        </div>
      </template>
    </div>
    <!-- built files will be auto injected -->
  </body>

  <!--================ script ===================-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/vee-validate@2.0.0-rc.18/dist/vee-validate.js"></script>

  <script src="https://www.w3schools.com/lib/w3data.js"></script>

  <script type="text/javascript">
    w3IncludeHTML();
  </script>

  <script>
    Vue.use(VeeValidate);

    VeeValidate.Validator.extend("polite", {
      getMessage: (field) => `You need to be polite in the ${field} field`,
      validate: (value) => value.toLowerCase().indexOf("please") !== -1,
    });
    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      data: () => ({
        scrolledNav: null,
        mobile: false,
        mobileNav: null,
        windowWidth: null,
        drawer: false,
        tab: null,
        items: [
          { title: "Home", btn: "./../" },
          { title: "Première visite", btn: "visite" },
          { title: "Communauté", btn: "community" },
          { title: "Activités", btn: "activity" },
          { title: "Ressources", btn: "ressource" },
          { title: "Contact", btn: "contact" },
          /*{ title: "Nous soutenir", btn: "sustain" },*/
        ],

        reverse: false,
        icons: [
          {icon: "mdi-email", link: "contact"},
          {icon: "mdi-youtube", link: "https://www.youtube.com/@eglisepaindevie3673/featured" },
          {icon: "mdi-instagram", link: "ok"}
        ],
        padless: false,
        valid: true,
        name: "",
        nameRules: [
          (v) => !!v || "Name is required",
          //v => (v && v.length <= 10) || 'Name must be less than 10 characters',
        ],
        email: "",
        emailRules: [
          (v) => !!v || "E-mail is required",
          (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
        ],
      }),

      computed: {
        localAttrs() {
          const attrs = {};

          if (this.variant === "default") {
            attrs.absolute = false;
            attrs.fixed = false;
          } else {
            attrs[this.variant] = true;
          }
          return attrs;
        },
        youtubeSrc() {
          return "https://www.youtube.com/embed/dSujxs4kdn8";
        },
      },

      created() {
        window.addEventListener("resize", this.checkScreen);
        this.checkScreen();
      },

      mounted() {
        window.addEventListener("scroll", this.updateScroll);
      },

      methods: {
        toggleMobileNav() {
          this.mobileNav = !this.mobileNav;
        },

        updateScroll() {
          const scrollPosition = window.scrollY;
          if (scrollPosition > 50) {
            this.scrolledNav = true;
            return;
          }
          this.scrolledNav = false;
        },

        checkScreen() {
          this.windowWidth = window.innerWidth;
          if (this.windowWidth <= 1257) {
            this.mobile = true;
            return;
          }
          this.mobile = false;
          this.mobileNav = false;
          return;
        },

        goToAnotherPage(param) {
          //this.$router.push(param);
          return `${param}`;
          //return `../assets/${imageId}`
        },
      },
    });
  </script>
</html>
