<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./../style/nav.css" />

    <link rel="icon" href="./../assets/favicon.ico" />
    <title>Visite | Eglise Pain de Vie</title>
    <style>
      .main {
        padding: 16vh 6% 0 6%;
      }

      .top {
        margin-top: 3%;
      }

      h1 {
        color: #e8917b;
        font-style: italic;
      }

      p {
        text-align: justify;
        line-height: 33px;
        font-size: 18px;
      }

      .text-center {
        font-size: 55px;
        text-align: center;
        line-height: 31px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <template>
        <div>
          <div class="navBar">
            <header :class="{ 'scrolled-nav': scrolledNav }">
              <nav>
                <div class="branding">
                  <a href="./../">
                    <v-btn color="transparent" text class="logo">
                      <img src="../assets/logoepinaynoir.png" alt="" />
                    </v-btn>
                  </a>
                  <i class="fa fa-square-o fa-stack-2x"></i>
                </div>
                <ul
                  v-show="!mobile"
                  class="navigation"
                  style="justify-content: space-evenly;"
                >
                  <a v-for="(item, index) in items"
                    :key="index"
                    class="link"
                    id="nav-link"
                    :href="goToAnotherPage(item.btn)"
                    style="color: #E8917B"
                    >{{ item.title }}</a
                  >
                  <a class="link"
                    id="nav-link" 
                    href="sustain"
                    style="color: #C51162;"
                  >
                    Nous soutenir</a>
                </ul>

                <div class="icon" v-show="mobile">
                  <v-app-bar-nav-icon
                    color="#E8917B"
                    @click="drawer = true"
                  ></v-app-bar-nav-icon>
                </div>
                <v-navigation-drawer
                  v-model="drawer"
                  absolute
                  temporary
                  height="375"
                  style="top: 100%"
                >
                  <v-list nav dense>
                    <v-list-item-group>
                      <v-list-item v-for="(item, index) in items" :key="index">
                        <a
                          class="link"
                          id="nav-link"
                          :href="goToAnotherPage(item.btn)"
                          style="color: #E8917B"
                          >{{ item.title }}</a
                        >
                      </v-list-item>
                      <v-list-item>
                        <a class="link" style="color: #C51162;"
                          href="sustain">Nous soutenir
                        </a>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-navigation-drawer>
              </nav>
            </header>
          </div>

          <div>
            <v-img
              class="imageCenter"
              src="./../assets/donation.png"
              height="60vh"
            >
              <div class="text-overlay"></div>
            </v-img>
          </div>
          <div class="main">
            <div class="tab">
              <p>
                «Que chacun donne comme il l’a décidé dans son cœur, sans regret
                ni contrainte, car Dieu aime celui qui donne avec joie.» 2
                Corinthiens 9:7
              </p>
              <p>
                Chaque don est utile, il permet de subvenir aux besoins de
                l’église, soutenir des associations pour l’avancement du royaume
                de Dieu. <br />Sentez-vous libre de contribuer à cette belle
                œuvre!
              </p>
              <p>
                Pour soutenir l’église et apporter vos dîmes et offrandes, vous
                pouvez faire des virements sur le compte de l’église en
                utilisant ce RIB :
              </p>

              <v-simple-table style="margin-top: 3%;">
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th style="font-size: 25px;" class="text-center">Titulaire du Compte</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="font-size: 15px;" class="text-center">
                        EGLISE PROTESTANTE BAPTISTE DU P<br />
                        ASS CULT.EGL EVANG.PAIN DE VIE<br />
                        134 AVENUE DE LA REPUBLIQUE 93800 EPINAY SUR SEINE
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th style="font-size: 25px;" class="text-center">Domiciliation</th>
                      <th style="font-size: 25px;" class="text-center">Code BIC</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td style="font-size: 15px;">CREDIT COOPERATIF</td>
                      <td style="font-size: 15px;">CCOPFRPPXXX</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th style="font-size: 25px;" class="text-center">RIB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <p style="text-align: center;">
                          42556 | 10000 | 08002646308 | 62<br />
                          Code banque | Code Guichet | Numéro de Compte | Clé
                          RIB
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th style="font-size: 25px;" class="text-center">
                        IBAN - Numéro de compte bancaire international
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td style="font-size: 20px;">FR76 | 4255 | 9100 | 0008 | 0026 | 4630 | 862</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </div>
            <div>
              <p>
                Vous pouvez également faire un don en utilisant le formulaire
                ci-dessous :
              </p>
            </div>
          </div>

          <div>
            <v-card>
              <div
                v-bind="localAttrs"
                :padless="padless"
                style="margin-top: 2%"
              >
                <v-card
                  flat
                  tile
                  width="100%"
                  class="footer"
                  style="background-color: #ededed; text-align: center"
                >
                  <v-card-text>
                    <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
                      <a :href="goToAnotherPage(icon.link)">
                        <v-icon color="#E8917B" size="37px"> {{ icon.icon }}</v-icon>
                      </a>
                    </v-btn>
                  </v-card-text>

                  <v-divider style="color: #e8917b"></v-divider>

                  <v-card-text style="color: #e8917b; font-size: 17px">
                    &copy;{{ new Date().getFullYear() }} —
                    <strong>Pain de Vie</strong>
                  </v-card-text>
                </v-card>
              </div>
            </v-card>
          </div>
        </div>
      </template>
    </div>
    <!-- built files will be auto injected -->
  </body>

  <!--================ script ===================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script src="https://www.w3schools.com/lib/w3data.js"></script>

  <script type="text/javascript">
    w3IncludeHTML();
  </script>

  <script>
    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      data: () => ({
        scrolledNav: null,
        mobile: false,
        mobileNav: null,
        windowWidth: null,
        drawer: false,
        tab: null,
        items: [
          { title: "Home", btn: "./../" },
          { title: "Première visite", btn: "visite" },
          { title: "Mission", btn: "mission" },
          { title: "Communauté", btn: "community" },
          { title: "Activités", btn: "activity" },
          { title: "Ressources", btn: "ressource" },
          { title: "Contact", btn: "contact" },
          /*{ title: "Nous soutenir", btn: "sustain" },*/
        ],

        cards: [
          { title: "FEEBF", link: "Logo-FEEBF.png" },
          { title: "CNEF", link: "CNEF.png" },
          { title: "FPF", link: "FPF.png" },
        ],

        icons: [
          { icon: "mdi-email", link: "contact" },
          { icon: "mdi-youtube", link: "https://www.youtube.com/@eglisepaindevie3673/featured" },
          { icon: "mdi-instagram", link: "ok" }
        ],

        pastor: [
          {
            title: "Pasteure",
            name: "Dorcas Moury",
            avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
          },
          {
            title: "Anciens",
            name: "Félix et Jacquiline Gélican",
            avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
          },
          /*{ title: 'Conseil d\'église', name:'', avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg' },
              { title: 'Organisation', name:'', avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg' },*/
        ],
        padless: false,
        variant: "default",
      }),

      computed: {
        localAttrs() {
          const attrs = {};

          if (this.variant === "default") {
            attrs.absolute = false;
            attrs.fixed = false;
          } else {
            attrs[this.variant] = true;
          }
          return attrs;
        },
      },

      created() {
        window.addEventListener("resize", this.checkScreen);
        this.checkScreen();
      },

      mounted() {
        window.addEventListener("scroll", this.updateScroll);
      },

      methods: {
        toggleMobileNav() {
          this.mobileNav = !this.mobileNav;
        },

        updateScroll() {
          const scrollPosition = window.scrollY;
          if (scrollPosition > 50) {
            this.scrolledNav = true;
            return;
          }
          this.scrolledNav = false;
        },

        checkScreen() {
          this.windowWidth = window.innerWidth;
          if (this.windowWidth <= 1257) {
            this.mobile = true;
            return;
          }
          this.mobile = false;
          this.mobileNav = false;
          return;
        },

        goToAnotherPage(param) {
          return `${param}`;
        },

        getImageUrl(imageId) {
          return `../assets/${imageId}`;
        },
      },
    });
  </script>
</html>
