<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../style/nav.css">

    <link rel="icon" href="./../assets/favicon.ico">
    <title>Visite | Eglise Pain de Vie</title>
    <style>
      .main {
        padding: 16vh 6% 0 6%
      }

      .top {
        margin-top: 3%;
      }

      h1 {
        color: #E8917B;
        font-style: italic;
      }
      .about-text, ul, p {
        text-align: justify;
        line-height: 33px;
        font-size: 18px;
      }
      .about-text ul {
        margin-left: 4%;
      }
      .imageCenter {
        display: block;
        justify-content: center;
      }

      .pastor {
        display: inline-block;
        margin: auto;
      }

      .font {
        font-family: 'Montserrat';
      }
    </style>
  </head>
  <body>
    <div id="app">
        <template>
            <div>
              <div class="navBar">
                <header :class="{ 'scrolled-nav': scrolledNav }">
                  <nav>
                    <div class="branding">
                      <a href="./../">
                        <v-btn color="transparent" text class="logo">
                            <img src="../assets/logoepinaynoir.png" alt="">
                        </v-btn>
                      </a>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </div>
                    <ul
                      v-show="!mobile"
                      class="navigation"
                      style="justify-content: space-evenly;"
                    >
                      <a v-for="(item, index) in items"
                        :key="index.title"
                        class="link"
                        id="nav-link"
                        :href="goToAnotherPage(item.btn)"
                        style="color: #E8917B"
                        >{{ item.title }}</a
                      >
                      <a class="link"
                        id="nav-link" 
                        href="sustain"
                        style="color: #C51162;"
                      >
                        Nous soutenir</a>
                    </ul>
                      
                    <div class="icon" v-show="mobile">
                        <v-app-bar-nav-icon color="#E8917B" @click="drawer = true" ></v-app-bar-nav-icon>
                    </div>
                    <v-navigation-drawer
                      v-model="drawer"
                      absolute
                      temporary
                      height="375"
                      style="top: 100%;"
                      >
                      <v-list
                        nav
                        dense
                      >
                        <v-list-item-group
                        >
                        <v-list-item v-for="(item, index) in items" :key="index.title">
                          <a
                            class="link"
                            id="nav-link"
                            :href="goToAnotherPage(item.btn)"
                            style="color: #E8917B"
                            >{{ item.title }}</a
                          >
                        </v-list-item>
                        <v-list-item>
                          <a class="link" style="color: #C51162;"
                            href="sustain">Nous soutenir
                          </a>
                        </v-list-item>
        
                        </v-list-item-group>
                      </v-list>
                    </v-navigation-drawer>
                  </nav>
                </header>
              </div>

              <div class="main">
                <div>
                  <v-row>
                    <v-col>
                      <h1>Qui sommes-nous ?</h1>
                    </v-col>
                  </v-row>
                  <v-row class="about-text">
                    <v-col class="font">
                      <p>Nous sommes une assemblée des chrétiens , partageant la même foi en Jésus-Christ</p>
                      <p>En tant que protestants, évangéliques, et baptistes, nous plongeons nos racines dans les 5 affirmations de la Réforme :</p>
                      <ul>
                        <li>Soli Deo Gloria : seul Dieu mérite notre reconnaissance absolue. Dieu est le seul qu’il faut adorer et prier.</li>
                        <li>Sola Gratia : seule la grâce fait vivre. Le salut n’est pas le résultat de nos efforts ou de nos mérites mais s’obtient par la grâce seule.</li>
                        <li>Solus Christus : seul le Christ nous conduit à Dieu. Jésus-Christ est le seul médiateur entre Dieu et nous.</li>
                        <li>Sola Fide : seule la foi sauve. Le salut n’est pas donné par les sacrements ou la religion mais par la foi seule.</li>
                        <li>Sola Scriptura : seules les Écritures font autorité pour la foi. La Bible est l’autorité suprême en matière de doctrine. Les 4 autres Solas découlent de celui-ci</li>
                      </ul>
                      <p>Au niveau national, nous faisons partie de la FEEBF (Fédération des Eglises Evangéliques Baptiste de France), du CNEF (Conseil National des Evangéliques de France) et de la FPF (Fédération Protestante de France).</p>
                    </v-col>
                  </v-row>
                </div>

                <div class="top">
                  <v-row style="justify-content: center;">
                    <v-col cols="7" md="3"
                      v-for="(card, i) in cards"
                      :key="i.title"
                    >
                      <v-img class="imageCenter"
                        :src="getImageUrl(card.link)"
                      >
                      </v-img>
                    </v-col>
                  </v-row>
                </div>

                <div class="top">
                  <v-row>
                    <v-col>
                      <h1>Nos croyances</h1>
                    </v-col>
                  </v-row>
                  <v-row class="about-text font">
                    <v-col cols="12" md="6">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptates molestiae facere accusamus, illo quibusdam ducimus quidem laborum vitae? Impedit autem excepturi possimus, qui vitae, velit deserunt maiores quaerat quasi aliquam modi asperiores obcaecati quibusdam deleniti repellendus. Quia beatae necessitatibus aut cupiditate assumenda maxime quos dolorum quam provident exercitationem, maiores veniam asperiores iure ipsa sed consectetur distinctio officiis esse ut illum iusto! Amet accusamus adipisci accusantium ullam tenetur consectetur sed, repellendus neque, cumque, cum facilis labore id beatae perspiciatis tempore minus. Distinctio eaque quisquam minima ullam hic tempora, in recusandae voluptate officiis quam esse ducimus, maxime enim explicabo quaerat voluptates.</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptates molestiae facere accusamus, illo quibusdam ducimus quidem laborum vitae? Impedit autem excepturi possimus, qui vitae, velit deserunt maiores quaerat quasi aliquam modi asperiores obcaecati quibusdam deleniti repellendus. Quia beatae necessitatibus aut cupiditate assumenda maxime quos dolorum quam provident exercitationem, maiores veniam asperiores iure ipsa sed consectetur distinctio officiis esse ut illum iusto! Amet accusamus adipisci accusantium ullam tenetur consectetur sed, repellendus neque, cumque, cum facilis labore id beatae perspiciatis tempore minus. Distinctio eaque quisquam minima ullam hic tempora, in recusandae voluptate officiis quam esse ducimus, maxime enim explicabo quaerat voluptates.</p>
                    </v-col>
                    <v-col cols="12" md="6">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptates molestiae facere accusamus, illo quibusdam ducimus quidem laborum vitae? Impedit autem excepturi possimus, qui vitae, velit deserunt maiores quaerat quasi aliquam modi asperiores obcaecati quibusdam deleniti repellendus. Quia beatae necessitatibus aut cupiditate assumenda maxime quos dolorum quam provident exercitationem, maiores veniam asperiores iure ipsa sed consectetur distinctio officiis esse ut illum iusto! Amet accusamus adipisci accusantium ullam tenetur consectetur sed, repellendus neque, cumque, cum facilis labore id beatae perspiciatis tempore minus. Distinctio eaque quisquam minima ullam hic tempora, in recusandae voluptate officiis quam esse ducimus, maxime enim explicabo quaerat voluptates.</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptates molestiae facere accusamus, illo quibusdam ducimus quidem laborum vitae? Impedit autem excepturi possimus, qui vitae, velit deserunt maiores quaerat quasi aliquam modi asperiores obcaecati quibusdam deleniti repellendus. Quia beatae necessitatibus aut cupiditate assumenda maxime quos dolorum quam provident exercitationem, maiores veniam asperiores iure ipsa sed consectetur distinctio officiis esse ut illum iusto! Amet accusamus adipisci accusantium ullam tenetur consectetur sed, repellendus neque, cumque, cum facilis labore id beatae perspiciatis tempore minus. Distinctio eaque quisquam minima ullam hic tempora, in recusandae voluptate officiis quam esse ducimus, maxime enim explicabo quaerat voluptates.</p>
                    </v-col>
                  </v-row>
                </div>

                <div class="top">
                  <v-row>
                    <v-col>
                      <h1>Notre histoire</h1>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col style="text-align: justify;">
                      <p>
                        C’est en 1989 que Bernard et Colette Jornod, alors en poste pastoral à la Communauté Chrétienne du Point du Jour de Boulogne Billancourt, 
                        ont été interpellés par le nord de la banlieue parisienne et sa population. Ils se sont installés en famille à Deuil la Barre, commune 
                        voisine d’Epinay sur Seine. L’idée était de créer une communauté locale qui avait une vision et des objectifs similaires à l’église mère 
                        du Point du Jour. 
                      </p>
                      <p>
                        Ils avaient d’abord le désir de rassembler les chrétiens de cette communauté qui vivaient dans cette partie de la banlieue, et ceci avec 
                        l’aval et sous l’autorité spirituelle des responsables du Point du Jour. Des cultes et autres rencontres ont commencé dans l’appartement 
                        familial, puis dans l’arrière boutique de la librairie Pain de Vie ouverte à la même période au 161 avenue de la République à Epinay-sur-seine, 
                        puis dans un local loué au 126, pour enfin au bout de 12 ans pouvoir acheter les locaux actuels situés au 134 Avenue de la République. 
                      </p>
                      <p>
                        C’est en 1994 que l’Eglise protestante baptiste du Pain de Vie a été déclarée en préfecture, est devenue autonome financièrement, et en 2012 
                        reconnue comme Eglise majeure par la Fédération des Eglises Evangéliques Baptistes de France (FEEBF). 
                      </p>
                      <p>                      
                        Au départ, quelques familles qui connaissaient Bernard et Colette, ont rejoint l’assemblée,  mais rapidement des personnes provenant d’autres 
                        origines ecclésiales et culturelles sont arrivées. Des questions liées à la cœxistence dans l’interculturalité se sont alors posées. Comment 
                        faire vivre ensemble des personnes célibataires, des couples, des familles aussi diverses ? La réponse ne se trouvait pas dans les traditions 
                        de chacun mais dans les valeurs et la culture du royaume de Dieu. C’était un défi quelque peu nouveau pour l’assemblée mais qui par la suite a 
                        aidé l’église à construire une vision, une identité spirituelle et des relations fraternelles:  
                      </p>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <div style="margin-right: 5%; margin-left: 5%;text-align: justify;">
                        <p>
                          <b><i>&#45;</i></b> Établir un lieu de culte pour Dieu, où chacun, enfants, jeunes et adultes peuvent trouver le salut et y développer une vie authentique 
                            comme disciple du Christ mais aussi trouver la guérison intérieure et le ressourcement nécessaire au développement de sa vie spirituelle.<br/>
                          <b><i>&#45;</i></b> Une église où la louange et l’adoration à Dieu est prépondérante, dans une expression dynamique, charismatique avec une foi réfléchie et créative. <br/>
                          <b><i>&#45;</i></b> Une église qui soit aussi un lieu de restauration et de transformation des personnes. <br/>
                          <b><i>&#45;</i></b> Une église comme lieu de vie, de communion fraternelle, d’entraide, de pardon, en vue de grandir ensemble en humanité « réparée ».<br/>
                          <b><i>&#45;</i></b> Une église priante, et qui recherche le souffle de vie de Dieu (l’Esprit-Saint) dans une ouverture à Sa présence vivifiante. <br/>
                          <b><i>&#45;</i></b> Une église qui est ouverte aux différentes expressions spirituelles dans la cité, les respecte et s’engage dans le partage. <br/>
                          <b><i>&#45;</i></b> Une vision communautaire dans laquelle la jeune génération, les enfants trouvent leur place, où ils peuvent entendre qu’ils font partie de l’église 
                            d’aujourd’hui, qu’ils peuvent grandir et entrer dans leur destinée, pour leur bien et celui de la société dans laquelle ils serviront le Christ.
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <p>
                        Ce défi, l’église l’a relevée, non sans difficultés. L’église a connu des hauts et des bas, mais a grandi malgré tout car « si le corps extérieur se détruit, 
                        l’être intérieur se renouvelle ». Le Seigneur a béni la vie de Ses enfants engagés pour Lui… et l’église a atteint quelques-uns de ces objectifs ! 
                      </p>
                      <p>
                        C’est en juillet <i>2021</i> que Barnard et Colette ont  passé la main à d’autres et en particulier à la pasteure <b><i>Dorcas Moury</i></b>.
                      </p>
                    </v-col>
                  </v-row>
                </div>

                <div class="top">
                  <v-row>
                    <v-col>
                      <h1>Organisation</h1>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="font">
                      <ul>
                        <li>L'équipe pastorale : Dorcas Moury</li>
                        <li>Conseil de l'église : 
                          <ul style="margin-left: 8%;margin-right: 8%;">
                            <li>Félix GELICAN: Président</li>
                            <li>Walter PAOLI: trésorier, responsable groupes des maisons </li>
                            <li>André DISUBI: secrétaire </li>
                            <li>Guylaine VAUTOR: Responsable enfants </li>
                            <li>Brigitte MIHIGO </li>
                          </ul>
                        </li>

                      </ul>
                    </v-col>
                  </v-row>
                  <v-row style="text-align: center;">
                    <v-col>
                        <v-list-item class="pastor"
                          v-for="item in pastor"
                          :key="item.title"
                        >
                        <v-list-item-content class="font">
                          <v-avatar
                            :size="300"
                          >
                            <img :src="item.avatar">
                          </v-avatar>            
                          <v-list-item-subtitle>
                            <p style="text-align: center;" v-text="item.name"></p>
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>
                            <p style="text-align: center;" v-text="item.title"></p>
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list>
                    </v-col>
                  </v-row>
                  <v-row class="font">
                    <v-col>
                      <ul>
                        <li>Conseil d'église</li>
                      </ul>
                    </v-col>
                  </v-row>
                  <v-row class="font">
                    <v-col>
                      <ul>
                        <li>Organisation</li>
                      </ul>
                    </v-col>
                  </v-row>
                </div>
              </div>

              <div>
                <v-card>
                  <div
                    v-bind="localAttrs"
                    :padless="padless"
                    style="margin-top: 2%;"
                  >
                    <v-card
                      flat
                      tile
                      width="100%"
                      class="footer"
                      style="background-color: #EDEDED;text-align: center;"
                    >
                      <v-card-text>
                        <v-btn v-for="icon in icons" :key="icon.icon" class="mx-4" icon>
                          <a :href="goToAnotherPage(icon.link)">
                            <v-icon color="#E8917B" size="37px"> {{ icon.icon }}</v-icon>
                          </a>
                        </v-btn>
                      </v-card-text>
              
                      <v-divider style="color: #E8917B;"></v-divider>
              
                      <v-card-text style="color:#E8917B; font-size: 17px;">
                        &copy;{{ new Date().getFullYear() }} — <strong>Pain de Vie</strong>
                      </v-card-text>
                    </v-card>
                  </div>
                </v-card>
              </div>
            </div>            
        </template>
        
    </div>
    <!-- built files will be auto injected -->
  </body>

  <!--================ script ===================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script src="https://www.w3schools.com/lib/w3data.js"></script>

  <script type="text/javascript">
    w3IncludeHTML();
</script>

  <script>
    new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: () => ({
            scrolledNav : null,
            mobile : false,
            mobileNav : null,
            windowWidth : null,
            drawer: false,
            tab: null,
            items: [
              { title: "Home", btn: "./../" },
              { title: "Première visite", btn: "visite" },
              { title: "Vision", btn: "vision" },
              { title: "Communauté", btn: "community" },
              { title: "Activités", btn: "activity" },
              { title: "Ressources", btn: "ressource" },
              { title: "Contact", btn: "contact" },
              /*{ title: "Nous soutenir", btn: "sustain" },*/
            ],

            cards : [
              { title : 'FEEBF', link : 'Logo-FEEBF.png' },
              { title : 'CNEF', link : 'CNEF.png' },
              { title : 'FPF', link : 'FPF.png' }
            ],

            icons: [
              { icon: "mdi-email", link: "contact" },
              { icon: "mdi-youtube", link: "https://www.youtube.com/@eglisepaindevie3673/featured" },
              { icon: "mdi-instagram", link: "ok" }
            ],

            pastor: [
              { title: 'Pasteure', name: 'Dorcas Moury', avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg' },
              { title: 'Anciens', name:'Félix et Jacquiline Gélican', avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg' },
              /*{ title: 'Conseil d\'église', name:'', avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg' },
              { title: 'Organisation', name:'', avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg' },*/
            ],
            padless: false,
            variant: 'default',
        }),

        computed: {
            localAttrs () {
                const attrs = {}

                if (this.variant === 'default') {
                attrs.absolute = false
                attrs.fixed = false
                } else {
                attrs[this.variant] = true
                }
                return attrs
            },
        },

        created() {
        window.addEventListener("resize", this.checkScreen)
        this.checkScreen()
        },

        mounted() {
            window.addEventListener("scroll", this.updateScroll)
        },

        methods : {
          toggleMobileNav() {
              this.mobileNav = !this.mobileNav
          },

          updateScroll() {
              const scrollPosition = window.scrollY
              if (scrollPosition > 50) {
                  this.scrolledNav = true
                  return
              }
              this.scrolledNav = false
          },

          checkScreen() {
              this.windowWidth = window.innerWidth
              if (this.windowWidth <= 1257) {
                  this.mobile = true
                  return
              }
              this.mobile = false
              this.mobileNav = false
              return
          },

          goToAnotherPage(param) {
            return `${param}`;
          },

          getImageUrl(imageId) {
            return `../assets/${imageId}`
          }
        }
    })
  </script>
</html>