<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.20/dist/vuetify.min.css">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.20/dist/vuetify.min.js"></script> -->

    <link rel="stylesheet" href="./../style/nav.css" />

    <link rel="icon" href="./../assets/favicon.ico" />
    <title>Vision | Eglise Pain de Vie</title>
    <style>
      .main {
        padding: 16vh 6% 0 6%;
      }

      .top {
        margin-top: 3%;
      }

      h1 {
        color: #e8917b;
        font-style: italic;
      }

      p {
        text-align: justify;
        line-height: 33px;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <template>
        <div>
          <div class="navBar">
            <header :class="{ 'scrolled-nav': scrolledNav }">
              <nav>
                <div class="branding">
                  <a href="./../">
                    <v-btn color="transparent" text class="logo">
                      <img src="../assets/logoepinaynoir.png" alt="" />
                    </v-btn>
                  </a>
                  <i class="fa fa-square-o fa-stack-2x"></i>
                </div>
                <ul
                  v-show="!mobile"
                  class="navigation"
                  style="justify-content: space-evenly;"
                >
                  <a v-for="(item, index) in items"
                    :key="index.title"
                    class="link"
                    id="nav-link"
                    :href="goToAnotherPage(item.btn)"
                    style="color: #E8917B"
                    >{{ item.title }}</a
                  >
                  <a class="link"
                    id="nav-link" 
                    href="sustain"
                    style="color: #C51162;"
                  >
                    Nous soutenir</a>
                </ul>

                <div class="icon" v-show="mobile">
                  <v-app-bar-nav-icon
                    color="#E8917B"
                    @click="drawer = true"
                  ></v-app-bar-nav-icon>
                </div>
                <v-navigation-drawer
                  v-model="drawer"
                  absolute
                  temporary
                  height="375"
                  style="top: 100%"
                >
                  <v-list nav dense>
                    <v-list-item-group>
                      <v-list-item v-for="(item, index) in items" :key="index.title">
                        <a
                          class="link"
                          id="nav-link"
                          :href="goToAnotherPage(item.btn)"
                          style="color: #E8917B"
                          >{{ item.title }}</a
                        >
                      </v-list-item>
                      <v-list-item>
                        <a class="link" style="color: #C51162;"
                          href="sustain">Nous soutenir
                        </a>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-navigation-drawer>
              </nav>
            </header>
          </div>

          <div>
            <!-- <v-img
              class="imageCenter"
              src="./../assets/donation.png"
              height="60vh"
            >
              <div class="text-overlay"></div>
            </v-img> -->
          </div>
          <div class="main">
            <h1 style="text-align: center;" >Notre mission</h1>

            <v-row align="center" justify="space-around" style="margin-top: 2rem;">
              <v-col v-for="(mission, i) in missions"
                :key="i.title"
                cols="auto">
                <v-card
                    class="mx-auto"
                    max-width="344"
                >
                  <v-img
                      src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                      height="200px"
                      class="white--text align-center text-center"
                  >
                      <v-card-title class="d-flex justify-center" style="color: white;">{{ mission.title }}</v-card-title>
                  </v-img>

                  <!-- <v-card-title>
                      Top western road trips
                  </v-card-title> -->

                  <v-card-subtitle>
                      1,000 miles of wonder
                  </v-card-subtitle>

                  <v-card-actions>
                    <v-btn
                        color="orange lighten-2"
                        text
                        @click="mission.show = !mission.show"
                    >
                        En savoir plus
                    </v-btn>

                    <v-spacer></v-spacer>
                    <v-btn
                        icon
                        @click="mission.show = !mission.show"
                    >
                        <v-icon>{{ mission.show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                    </v-btn>

                  </v-card-actions>

                  <v-expand-transition>
                    <div v-show="mission.show">
                      <v-divider></v-divider>

                      <v-card-text v-html="mission.text" style="font-size: 15px;text-align: justify;">
                        <!-- {{ mission.text }} -->
                      </v-card-text>
                    </div>
                  </v-expand-transition>
                </v-card>
              </v-col>
            </v-row>
            <v-row style="margin-top: 3rem;">
                <v-col>
                    <p style="text-align: center;">
                      Le Seigneur appelle notre église à être une communauté des personnes qui grandissent ensemble dans la restauration, 
                      la consécration  et l’engagement  dans le but de  ressembler à Jésus,  le connaître et le faire connaitre aux autres.
                    </p>
                </v-col>
            </v-row>
          </div>

          <div style="margin-top: 4rem;">
            <v-card>
              <div
                v-bind="localAttrs"
                :padless="padless"
                style="margin-top: 2%"
              >
                <v-card
                  flat
                  tile
                  width="100%"
                  class="footer"
                  style="background-color: #ededed; text-align: center"
                >
                  <v-card-text>
                    <v-btn v-for="icon in icons" :key="icon.icon" class="mx-4" icon>
                      <a :href="goToAnotherPage(icon.link)">
                        <v-icon color="#E8917B" size="37px"> {{ icon.icon }}</v-icon>
                      </a>
                    </v-btn>
                  </v-card-text>

                  <v-divider style="color: #e8917b"></v-divider>

                  <v-card-text style="color: #e8917b; font-size: 17px">
                    &copy;{{ new Date().getFullYear() }} —
                    <strong>Pain de Vie</strong>
                  </v-card-text>
                </v-card>
              </div>
            </v-card>
          </div>
        </div>
      </template>
    </div>
    <!-- built files will be auto injected -->
  </body>

  <!--================ script ===================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script src="https://www.w3schools.com/lib/w3data.js"></script>

  <script type="text/javascript">
    w3IncludeHTML();
  </script>

  <script>
    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      data: () => ({
        scrolledNav: null,
        mobile: false,
        mobileNav: null,
        windowWidth: null,
        drawer: false,
        items: [
          { title: "Home", btn: "./../" },
          { title: "Première visite", btn: "visite" },
          { title: "Mission", btn: "mission" },
          { title: "Communauté", btn: "community" },
          { title: "Activités", btn: "activity" },
          { title: "Ressources", btn: "ressource" },
          { title: "Contact", btn: "contact" },
          /*{ title: "Nous soutenir", btn: "sustain" },*/
        ],

        icons: [
          { icon: "mdi-email", link: "contact" },
          { icon: "mdi-youtube", link: "https://www.youtube.com/@eglisepaindevie3673/featured" },
          { icon: "mdi-instagram", link: "ok" }
        ],

        missions: [
            { title: "Une communauté consacrée", show: false, 
              text: "La destinée de chaque  croyant est de se laisser guider par le Saint-Esprit pour se conformer à l'image de Jésus-Christ, le Fils de Dieu.<br/>"+
                    "Nous aspirons à être un lieu de formation  pour des disciples consacrés, où chaque personne, quel que soit son âge, <br/>"+
                    "&#45; Progresse dans la connaissance et la mise en pratique de la parole <br/>"+
                    "&#45; Réalise que pour progresser dans la consécration, il est essentiel de faire des choix qui glorifient Dieu. <br/>"+
                    "&#45; Réalise l'importance d'adopter un discours et un comportement qui s'aligne avec la Parole de Dieu, quelles que "+
                    "soient les sphères de vie où Dieu l'a placé. (famille, travail, université, voisinage, environnement) <br/>"
            },
            { title: "Une communauté restaurée ", show: false, 
              text: "Nous pensons que Dieu le Père occupe une place centrale dans ce processus de restauration et souhaite que chacun "+
                    "puisse se développer et s'épanouir dans sa relation avec Lui. C'est pour cette raison que nous désirons être <br/>"+
                    "&#45; Un lieu d'accueil où chaque personne peut s’engager dans  un processus de restauration et de guérison. <br/>"+
                    "&#45; Un lieu où des individus blessés, frustrés, stressés, en proie à la dépression peuvent trouver du soutien, de l'encouragement et de l'espoir pour leur restauration. <br/>"+
                    "&#45; Un outil divin pour accompagner les individus dans leur démarche de foi vers la guérison de leurs blessures intérieures <br/>"
            },
            { title: "Une communauté engagée", show: false, 
              text: "Chaque enfant de Dieu a reçu des dons, des talents et des capacités du Saint Esprit pour le progrès du royaume de Dieu.<br/>"+
                    "Pour cela, Nous aspirons à être <br/>"+
                    "&#45; Un lieu qui aide et accompagne chaque individu à découvrir ses dons et talents pour progresser dans son engagement pour le royaume de Dieu. <br/>"+
                    "&#45; Un lieu où chaque individu est encouragé à s'impliquer et à développer ses dons et talents, au service de Christ et des autres. dans la liberté totale que donne le Saint-Esprit. <br/>"+
                    "&#45; Un endroit où l'engagement et la fidélité  dans de petites choses sont valorisées." 
            },
        ],

        padless: false,
        show: false,
      }),

      computed: {
        localAttrs() {
          const attrs = {};

          if (this.variant === "default") {
            attrs.absolute = false;
            attrs.fixed = false;
          } else {
            attrs[this.variant] = true;
          }
          return attrs;
        },
      },

      created() {
        window.addEventListener("resize", this.checkScreen);
        this.checkScreen();
      },

      mounted() {
        window.addEventListener("scroll", this.updateScroll);
      },

      methods: {
        toggleMobileNav() {
          this.mobileNav = !this.mobileNav;
        },

        updateScroll() {
          const scrollPosition = window.scrollY;
          if (scrollPosition > 50) {
            this.scrolledNav = true;
            return;
          }
          this.scrolledNav = false;
        },

        checkScreen() {
          this.windowWidth = window.innerWidth;
          if (this.windowWidth <= 1257) {
            this.mobile = true;
            return;
          }
          this.mobile = false;
          this.mobileNav = false;
          return;
        },

        goToAnotherPage(param) {
          return `${param}`;
        },

        getImageUrl(imageId) {
          return `../assets/${imageId}`;
        },
      },
    });
  </script>
</html>
